body {
	/*width: 960px;*/
	padding: 10px 20px 10px 20px;
}
.container {
	/*max-width: 960px;*/
}
li a:link {
	font-weight: bold;
}
p a:link {
	font-weight: bold;
}
#mpf-logo {
	float: right;
	margin-top: 10px;
}
.mpf-tab {
	font-size: 18px;
	width: 25%;
	text-align: center;
	font-weight: bold;
}
.mpf-menu {
	margin-top: 25px;
}
.float {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-item {
	height: 175px;
	width: 190px;
	border: 3px solid darkgray;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
	margin-bottom: 55px;
}
.menu-item img {
	width: 170px;
}
.resource {
	text-align: center;
	margin: 10px;
	padding: 12px 5px 5px 5px;
	border: 2px solid darkgray;
	border-radius: 15px;
	width: 140px;
	height: 140px;
	float: left;
	/*background-color: #D9F2FC;*/
}
.resource p {
	margin-top: 10px;
}
.resource-note {
	margin: 20px 0 0 10px;
	width: 500px;
	float: left;
}
/*RESOURCES PAGE*/
.title {
	font-size: 18px;
	font-weight: bold;
}
.generation {
	background-color: #FCEC83;
}
.generation-content .resource {
	background-color: #FCEC83;
}
.building-content .resource {
	background-color: lightblue;
}
.transportation-content .resource {
	background-color: #F5AEAE;
}
.arithmetic {
	margin-top: 65px;
	font-size: 36px;
	font-weight: bold;
	color: darkgray;
}
.click-here {
	position: relative;
	top: 15px;
	font-style: italic;
}
.subtitle {
	font-style: italic;
	color: gray;
	clear: both;
}
/*ROADMAP PAGE*/
#map-of-mass {
	width: 600px;
	padding: 10px;
}
.text-highlight {
	color: #337ab7;
	font-weight: bold;
}
/*FAQ*/
#menu4 h2 {
	margin-bottom: 30px;
}
#menu4 h4 {
	margin-bottom: 4px;
	margin-top: 20px;
}
/*TOOLTIPS*/




/*GENERIC*/
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.vert-spacer {
	padding-top: 15px;
}
/*EDIT BOOTSTRAP*/
.nav-tabs{
	border-bottom-width: 3px;
	border-color: darkgray;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-width: 3px;
	border-bottom-width: 5px;
	border-top-color: darkgray;
	border-left-color: darkgray;
	border-right-color: darkgray;
}
.nav-tabs>li>a {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	margin-bottom: -2.5px;
}





