* {
	font-family: georgia;
}
body {
	width: 960px;
}
img {
	width: 170px;
}
a:link {
	color: darkblue;
}
a:visited {
	color: green;
}
.float {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.start-here {
  margin: auto;
  text-align: center;
  padding: 10px;
  height: 40px;
	width: 190px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: #F5B664
}
.start-here-text {
	position: relative;
	top: -15px;
	font-weight: bold;
}
.title {
	font-size: 18px;
	font-weight: bold;
}
.menu {
	position: relative;
	top: 45px;
}
.menu-item {
	height: 160px;
	width: 190px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
}
.generation {
	background-color: #FCEC83;
}
.buildings {
	background-color: lightblue;
}
.transportation {
	background-color: #F5AEAE
}
.future {
	background-color: #4CF58B;
}
.arithmetic {
	margin-top: 65px;
	font-size: 36px;
	font-weight: bold;
}
.click-here {
	position: relative;
	top: 15px;
}
.hor-spacer {
	clear: both;
	margin-top: 105px;
	margin-bottom: 15px;
	width: 60%;
}
.lower-section {
	position: relative;
	top: 70px;
}
.contentBlock {
	float: left;
}
.resource {
	text-align: center;
	padding: 10px 5px;
	border: 1px solid black;
	width: 140px;
	height: 120px;
	float: left;
	margin: 10px 10px 25px 10px;
	border-radius: 15px;
	/*background-color: #D9F2FC;*/
}
