* {
	font-family: georgia;
}
body {
	width: 960px;
}
.menu {
}
.float {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-item {
	height: 100px;
	width: 190px;
	border: 1px solid red;
	text-align: center;
	padding: 5px;
}
.hor-spacer {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}
.start-here {
  margin: auto;
  text-align: center;
  width: 60%;
  padding: 10px;
}
.title {
	font-size: 24px;
	font-weight: bold;
}

/*table {
	text-align: center;
	margin-bottom: 10px;
}
th {
	padding-bottom: 25px;
	font-size: 18px;
}
td {
	padding: 5px;
}
#rowOne {
	font-size: 20px;
	font-weight: bold;
}
#rowTwo {
	font-size: 12px;
	font-style: italic;
}
.planning {
	background-color: tan;
	max-width: 170px;
	margin: auto;
	padding: 5px;
}
.menuItem {
	height: 75px;
}
.electric {
	background-color: lightgreen;
}
.heating {
	background-color: salmon;
}
.transit {
	background-color: lightblue;
}
.oneHundred {
	background-color: #FFF373;
}
.math {
	min-width: 30px;
}

.resource {
	text-align: center;
	padding: 40px 5px;
	border: 1px solid black;
	width: 140px;
	height: 60px;
	float: left;
	margin: 10px 10px 25px 10px;
}*/